// *************
// TOGGLE SWITCH
// *************

.toggle-switch {
  &__wrapper {
    display: flex;
    align-items: center;

    @include media("<600px") {
      width: 100%;
      justify-content: space-between;
      margin-top: 2.5em;
    }

    &:hover {
      cursor: pointer;

      span {
        color: var(--color-text-1);
        transition: 0.4s all;
      }

      label {
        span {
          filter: brightness(120%);
        }
      }
    }
  }

  &__text {
    font-size: 14px;
    color: var(--color-text-2);
    margin-right: 1em;
    font-weight: 700;
  }

  &__label {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 48px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .toggle-switch__circle {
        background-color: var(--color-toggle-1);
      }

      + .toggle-switch__circle:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
      }
    }
  }

  &__circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      var(--color-toggle-1) 0%,
      var(--color-toggle-2) 100%
    );
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2rem;

    &:before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 3px;
      left: 4px;
      background-color: var(--color-bg);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

// *************
// CARD
// *************

.card {
  transition: all 0.3s;
  background-color: var(--color-card-bg);

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }
}

// *************
// OVERVIEW CARD
// *************

.overview-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-text-2);
  border-radius: 6px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 4px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin: 4em 0em 2em 0em;
  }

  &__social {
    margin-right: 1em;
    width: 2.8em;
  }

  &__account {
    font-size: 12px;
  }

  &__heading {
    color: var(--color-text-1);
    font-size: 7em;
  }

  &__subheading {
    font-size: 1.5em;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 2em;
  }

  &__update {
    font-size: 1.5em;
    margin-bottom: 2em;
    font-weight: 700;

    &--positive {
      color: var(--color-lime-green);
      &::before {
        content: url(/images/icon-up.svg);
        position: relative;
        top: -2px;
        left: -4px;
      }
    }

    &--negative {
      color: var(--color-bright-red);
      &::before {
        content: url(/images/icon-down.svg);
        position: relative;
        top: -2px;
        left: -4px;
      }
    }
  }

  &--facebook {
    &::before {
      background-color: var(--color-facebook-blue);
    }
  }

  &--twitter {
    &::before {
      background-color: var(--color-twitter-blue);
    }
  }

  &--instagram {
    &::before {
      background: linear-gradient(
        to right,
        var(--color-instagram-orange),
        var(--color-instagram-pink)
      );
    }
  }

  &--youtube {
    &::before {
      background-color: var(--color-youtube-red);
    }
  }
}

// *************
// SPECIFICS CARD
// *************

.specifics-card {
  display: grid;
  border-radius: 6px;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2.5em;
  padding: 3em 3.5em 2.5em 2.75rem;

  &__icon {
    justify-self: flex-end;
  }

  &__percent {
    justify-self: flex-end;
    margin-top: 0.75em;
    align-self: center;
    font-size: 1.6em;
    font-weight: 700;

    &--increase {
      color: var(--color-lime-green);
      &::before {
        content: url(/images/icon-up.svg);
        position: relative;
        top: -2px;
        left: -4px;
      }
    }

    &--decrease {
      color: var(--color-bright-red);
      &::before {
        content: url(/images/icon-down.svg);
        position: relative;
        top: -2px;
        left: -4px;
      }
    }
  }

  &__views {
    color: var(--color-text-2);
    font-size: 1.7em;
    font-weight: 700;
  }

  &__number {
    font-size: 4em;
    font-weight: 700;
    color: var(--color-text-1);
  }
}
