body {
  position: relative;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  padding: 4.5em 4em 8em 4em;

  &::before {
    content: "";
    width: 100%;
    height: 30em;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--color-top-bg);
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  max-width: 1110px;
  margin: 0 auto;
}

.overview {
  &__top {
    display: flex;
    align-items: center;
    flex-direction: row;

    @include media("<600px") {
      flex-direction: column;
    }
  }

  &__headings-wrapper {
    margin-right: auto;

    @include media("<600px") {
      width: 100%;
      border-bottom: 1px solid var(--color-text-2);
      padding-bottom: 2.9em;
    }
  }

  &__heading {
    color: var(--color-text-1);
    margin-bottom: 0.2em;
    font-size: 3.5em;

    @include media("<600px") {
      font-size: 3em;
    }
  }

  &__subheading {
    color: var(--color-text-2);
    font-size: 14px;
  }

  &__bottom {
    margin-top: 4.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4em;

    @include media(">=600px", "<=1000px") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media("<600px") {
      grid-template-columns: 1fr;
    }
  }
}

.specifics {
  margin-top: 6em;
  &__heading {
    color: var(--color-text-1);
    font-size: 2.95em;
    margin-bottom: 1em;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28.5em, 1fr));
    gap: 4em;

    @include media("<600px") {
      gap: 3em;
    }
  }
}
